@charset "ISO-8859-1";

.titolo{
 			color: #ff0000;
 			font-size: 25px;
 			text-align: center;
 			text-transform: none;
 			margin-top: 30px;
		}




.bottoneAssistenza{
	 margin-top: 5px;
	 margin: 15px;
	 background-color: #0080ff;
	 border: none;
  	 color: white;
  	 padding: 10px 28px;
  	 text-align: center;
 	 text-decoration: none;
 	 display: inline-block;
 	 font-size: 16px;
 	 cursor: pointer;
 	 
}

.bottoneAssistenza:hover {
	opacity: 0.8;
}

.pagina{
	background-color: none;
  	width: 500px;
  	border: 1px solid #ccc;
  	padding: 30px;
  	margin: 20px;
}

.aforisma{
	background-color: lightblue;
  	width: 500px;
  	border: none;
  	padding: 30px;
  	margin: 20px;
  	font-style: italic;
}

.noi{
	background-color: none;
  	width: 500px;
  	border: none;
  	padding: 30px;
  	margin: 20px;
  	font-style: italic;
}


.tab-map{
padding: 30px;
margin-left: 100px;
}
.map #map1{
width:600px; 
height:450px; 

allowfullscreen:""; 
aria-hidden:"false"; 
tabindex:"0";
}

.pagina{
width:600px; 
height:450px; 
 
 
allowfullscreen:""; 
aria-hidden:"false"; 
tabindex:"0";
}
.map #map2{
display: none;
width:400; 
height:300;
frameborder:0; 
style:border; 
allowfullscreen:""; 
aria-hidden:false; 
tabindex:0;
}

.center {
  margin-left:auto; 
  margin-right:auto;
}


