@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

/* Footer */
.foo{
	background-color:#16151a;
}

.footer {
	
  background-color:#16151a;
}


.card {
	
    color: red;
    background-color: #16151a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul>li {
    padding: 0px;
}

li{
	margin-left: 5px;
}

.pointer{
    color: red;
    cursor: pointer
}

.pointer:hover{
	opacity: 0.6;
}


hr {
    border-width: 0px;
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #ff0000;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}

