.upperPic{
   width:100%;
}

.upperPic2{
   display: none;
   width: 100%;
}

.area1,#nav2{
	display: none;
}


@media only screen and (max-width: 700px){ 
   .upperPic{
     display: none;
     width: 100%;
   }
   .topnav {
    font-size: 10px;
  }
  .carousel{
   display: none;
   }
 
   #navdx{
     display: none;
   }

   .upperPic2{
     display: block;
     width: 100%;
   }
   
   
   
   
}

@media only screen and (max-width: 1200px){ 
	
	.upperPic{
     display: none;
     width: 100%;
   }
   
    .upperPic2{
     display: block;
     width: 100%;
   }
	 #navdx{
     display: none;
   }
   
   .area1,#nav2{
   display: block;
     width: 100%;
   }
   
   #map1{
   display: none;
   
   }
   
   #map2{
     display: block;
     width: 100%;
   }
   
}
#search-layer {
	
	background-color: #000000;
}

#search-layer a{
	float:right;
	margin-right:25px; 
	text-decoration: none;
	
}





