@charset "ISO-8859-1";

.nav-item a{
	float: left;
	
}

#text-search{
  width: 100%;
  height: 35px;

	
}

#form-search button{
	background-color: #FF1717;
	border: 1px solid #FF1717;
}

.navbar-nav .nav-item a:hover{
	
	background-color: red;
    color: white;
    text-decoration: black;
    animation-name: color;
    animation-duration: 4s;
}



@keyframes color {
  from {background-color: #0080ff;}
  to {background-color: red;} 
}



