body {font-family: Arial, Helvetica, sans-serif;}

.userBar {
  width: 100%;
  background-color:  #ffffff;
  overflow: auto;
}

.userBar a {
  float: right;
  padding: 12px;
  color: blue;
  text-decoration: none;
  font-size: 17px;
}



.active {
  background-color: #RED;
  float: left;
}

@media screen and (max-width: 500px) {
  .userBar a {
    float: none;
    display: block;
  }
}

